*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ
.idea

# generated assets - eventually
# cards.json

# ;)
secret.txt
token.txt
bot_token.txt
dev_token.txt
prod_token.txt